* {
  font-family: consolas;
}

body {
  font-family: 'Consolas', sans-serif;
  background-color: #3f3f3f;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

#header-text {
  height: 140px;
  font-family: 'Consolas';
  background-color: #727272;
  color: #ffffff;
}

#logo h1 {
  margin: 0;
  color: #FFC107;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ff078b;
}

main {
  padding: 1em;
  text-align: center;
  background-color: #f4d065;
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

#control-panel {
  text-align: center;
}

button {
  background-color: #333;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  margin: 1em;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}

#return-button {
  background-color: blue;
  color: white;
}

#return-button:hover {
  background-color: #333;
  color: white;
}

#info-button {
  background-color: rgb(255, 123, 145);
  color: white;
}

#info-button:hover {
  background-color: #333;
  color: white;
}

#o-nas-button {
  background-color: rgb(255, 67, 255);
  color: white;
}

#o-nas-button:hover {
  background-color: #333;
  color: white;
}

#inputtext {
  width: 250px;
}

#inputtextA {
  width: 250px;
}

#inputtextB {
  width: 250px;
}

#inputtextC {
  width: 250px;
}

#inputtextD {
  width: 250px;
}

#inputtextE {
  width: 250px;
}

#inputtextF {
  width: 250px;
}

#inputtextG {
  width: 250px;
}

#inputtextH {
  width: 250px;
}

#info {
  width: 80%;
  border-radius: 20px;
  border: 2px;
  border-color: #383434;
  border-style: solid;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
}

#znacznik {
  color: cornflowerblue;
}

#description {
  color: #a70059;
}

nav {
  font-family: Consolas;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

nav li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

nav a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

nav .submenu {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0;
  margin: 0;
  width: 200px;
  background-color: #555;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

nav .submenu li {
  display: block;
  margin: 0;
  padding: 0;
}

nav .submenu a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

nav .submenu a:hover {
  background-color: #f9f9f9;
  color: #333;
}

nav li:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#Pink {
  color: rgb(255, 103, 129);
}